@font-face{
  font-family: Charter;
  src: url('../fonts/charter-regular.otf');
  font-style:normal ;
  font-weight:400;
}

@font-face{
  font-family: Charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style:italic ;
  font-weight:400;
}

@font-face{
  font-family: Charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight:bold;
}

@font-face{
  font-family: Charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style:italic;
  font-weight:bold;
}

:root{
  font-size: 18px;
  --white30: white;
  --white20: #212429;
  --white10: #616161;
}

body{
  color: var(--white30);
  font-family: 'Roboto', sans-serif;
  background: #251F24;
  margin: 0;
}

a{
  color: var(--white30);
}
header{
  font-size: 14px;
  color: var(--white10);

}
header a{
  color: var(--white10);
  text-decoration: none;
}
header a :hover{
  color: var(--white30);
}

nav details summary{
  font-weight: bold;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}
pre{
  background:#FEC62E ;
}

.hero{
  background-image: linear-gradient(to top,rgba(255, 255, 255, .3), transparent), url('../images/patron.png');
  background-position: relative;
  height: 350px;


}
#image-dom{
  width: 100%;
}

#image-modelo{
  width: 100%;
}

#image-css{
  width: 100%;
}

.section-content h3::after{
   content: '';
   width: 32px;
   height: 4px;
   background: #424242;
   display: block;
}

.section-content{
  counter-reset: titlelist;
}
.section-content h3 {
  counter-increment: titlelist;
}

.section-content h3::before{
   content: '' counter(titlelist, decimal) '.';
}